:root {
    --primary-color: #2c3e50;
    --accent-color: #82cef5;
    --bg-light: #f4f4f4;
    --card-bg: #ffffff;
    --text-main: #333333;
    --border-color: #dddddd;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-light);
    color: var(--text-main);
    line-height: 1.6;
    margin: 20px;
}

h1, h2, h3 {
    font-family: Gergia, sans-serif;
    color: var(--primary-color);
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none; /* remove underline */
    color: var(--primary-color);
    padding: 6px 10px;
    transition: 0.3s;
}

nav a:hover {
    background-color: var(--accent-color);
    color: white;
}

nav a:active {
    background-color: var(--primary-color);
    color: white;
}

button, input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
    background-color: var(--accent-color);
}

button:active,
input[type="submit"]:active {
    transform: scale(0.95);
}

.btn {
    display: inline-block;        
    text-decoration: none;          
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-weight: bold;
}


.btn:hover {
    background-color: var(--accent-color);
}

.btn:active {
    transform: scale(0.97);
}
input:focus, button:focus {
    outline: 3px solid var(--accent-color);
}

article {
    width: 220px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--card-bg);
}

article:nth-child(even) {
    background-color: #f9f9f9;
}

article img {
    width: 100%;
    border-radius: 8px;
}

section:empty {
    background-color: #ffe6e6;
    padding: 15px;
    border: 1px solid rgb(61, 144, 239);
}

.price::before {
    content: "₱ ";
    color: var(--accent-color);
    font-weight: bold;
}

.checkout-btn {
    display: inline-block;       
    text-decoration: none;         
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-weight: bold;
}

.checkout-btn:hover {
    background-color: var(--accent-color);
}

.checkout-btn:active {
    transform: scale(0.97);
}

input:required {
    border: 2px solid rgb(61, 144, 239);
}

input:valid {
    border: 2px solid rgb(0, 8, 41);
}

table {
    border-collapse: collapse;
    width: 60%;
}

th, td {
    padding: 8px;
    border: 1px solid var(--border-color);
}

td:first-child {
    font-weight: bold;
    color: var(--primary-color);
}

ul li::marker {
    color: var(--accent-color);
    font-size: 18px;
}


blockquote {
    position: relative;
    padding: 10px 20px;
    background-color: #fafafa;
    border-left: 4px solid var(--accent-color);
}

blockquote::before {
    content: "“";
    font-size: 30px;
    color: var(--accent-color);
    position: absolute;
    left: 5px;
    top: -5px;
}

blockquote::after {
    content: "”";
    font-size: 30px;
    color: var(--accent-color);
    position: absolute;
    right: 5px;
    bottom: -10px;
}

nav ul li::marker {
    color: var(--accent-color);
}

